<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="goliath_ros2_control" params="name">

    <ros2_control name="${name}_arm" type="system">

      <hardware>
        <plugin>goliath_controller/RobotSystem</plugin>
        <param name="position1_joint_name">position1_joint</param>
        <param name="position2_joint_name">position2_joint</param>
        <param name="position3_joint_name">position3_joint</param>
        <param name="position4_joint_name">position4_joint</param>
        <param name="position5_joint_name">position5_joint</param>
        <param name="position6_joint_name">position6_joint</param>

        <param name="loop_rate">50</param>
        <param name="device">/dev/ttyACM0</param>
        <param name="baud_rate">115200</param>
        <param name="timeout">1000</param>
      </hardware>
      
      <joint name="joint_1">
        <command_interface name="position">
          <param name="min">${-2*pi}</param>
          <param name="max">${2*pi}</param>
        </command_interface>
        <!-- <command_interface name="velocity"> 
          <param name="min">-3.15</param>
          <param name="max">3.15</param>
        </command_interface>                     -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint_2">
        <command_interface name="position">
          <param name="min">${-2*pi}</param>
          <param name="max">${2*pi}</param>
        </command_interface>
        <!-- <command_interface name="velocity">
          <param name="min">-3.15</param>
          <param name="max">3.15</param>
        </command_interface>                      -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint_3">
        <command_interface name="position">
          <param name="min">${-pi}</param>
          <param name="max">${pi}</param>
        </command_interface>
        <!-- <command_interface name="velocity">
          <param name="min">-3.15</param>
          <param name="max">3.15</param>
        </command_interface>                       -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint_4">
        <command_interface name="position">
          <param name="min">${-2*pi}</param>
          <param name="max">${2*pi}</param>
        </command_interface>
        <!-- <command_interface name="velocity">
          <param name="min">-3.2</param>
          <param name="max">3.2</param>
        </command_interface>                       -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint_5">
        <command_interface name="position">
          <param name="min">${-2*pi}</param>
          <param name="max">${2*pi}</param>
        </command_interface>
        <!-- <command_interface name="velocity">
          <param name="min">-3.2</param>
          <param name="max">3.2</param>
        </command_interface>                        -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="joint_6">
        <command_interface name="position">
          <param name="min">${-2*pi}</param>
          <param name="max">${2*pi}</param>
        </command_interface>
        <!-- <command_interface name="velocity">
          <param name="min">-3.2</param>
          <param name="max">3.2</param>
        </command_interface>                          -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <!-- <sensor name="tcp_fts_sensor">
        <state_interface name="force.x"/>
        <state_interface name="force.y"/>
        <state_interface name="force.z"/>
        <state_interface name="torque.x"/>
        <state_interface name="torque.y"/>
        <state_interface name="torque.z"/>
      </sensor> -->

    </ros2_control>
    
    <ros2_control name="${name}_gripper" type="system">

      <hardware>
        <plugin>gripper_controller/RobotSystem</plugin>
        <param name="position1_joint_name">slider_22</param>
        <param name="position2_joint_name">slider_23</param>
        <param name="loop_rate">50</param>
        <param name="device">/dev/ttyACM0</param>
        <param name="baud_rate">115200</param>
        <param name="timeout">1000</param>
      </hardware>
      
      <joint name="Slider 22">
        <command_interface name="position">
          <param name="min">${-2*pi}</param>
          <param name="max">${2*pi}</param>
        </command_interface>
      
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="Slider 23">
        <command_interface name="position">
          <param name="min">${-2*pi}</param>
          <param name="max">${2*pi}</param>
        </command_interface>

        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

    </ros2_control>
    
    
    

  </xacro:macro>

</robot>
